/* Global */
  h1 {
    color: blanchedalmond;
    text-align: center;
    background-color: rgb(47, 0, 255);
  }
  form {
    width: 700px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(204, 204, 204);
  }
  form input {
    padding: 3px 10px;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    margin: 8px 10px;
    display: inline-block;
  }
  button {
    text-align: center;
    font-weight: bold;
  }