<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Sitema de gestion de notas" />
    <meta name="author" content="Grupo 8 Mision Tics 2022" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/book-64.png')}}" sizes="64x64">
    <link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/book.png')}}" sizes="32x32">
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/main.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'js/datatables.css')}}"/>

</head>
<body id="body">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('irAdmin') }}">
              <img src="{{url_for('static', filename = 'images/icons/admin.png')}}" alt="" class="d-inline-block align-text-center img-fluid">
              Super Admin
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="{{ url_for('registroUser') }}">Registrar Usuarios</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('consultarUsers') }}">Consultar Usuarios</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Materias
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="{{ url_for('registromateria') }}">Registrar Materias</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('consultarMat') }}">Consultar Materias</a></li>
                    </ul>
                  </li>
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Cursos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Registrar Cursos</a></li>
                      <li><a class="dropdown-item" href="#">Consultar Cursos</a></li>
                    </ul>
                  </li> -->
                  <li class="nav-item">
                    <a href="{{ url_for('logout') }}" class="twitter">
                        <img src="{{url_for('static', filename = 'images/icons/logout.png')}}" class="img-fluid" alt="Icono de salir aplicacion">
                    </a>
                  </li>
                </ul>
              </div>
          </div>
        </nav>
      </div>

{% block body %}


{% endblock %}

<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static', filename='js/datatables.min.js')}}"></script>
<script src="{{url_for('static', filename='js/tables.js')}}"></script>


<script type="text/javascript">
  $(document).ready(function() {
      $('#example').DataTable();
  } );
</script>

</body>
</html>