{% extends 'base2.html' %}

{% block title %} Sistema de Gestion de Notas {% endblock %}

{% block body %}
<style type="text/css">
    .section-title{
        font-size: clamp(1.2rem,calc(1rem + 3.5vw),4rem);
        text-shadow: 0 2px 2px rgba(0,0,0,.5);
    }
    
</style>

<div class="container">
    <div class="row">
        <h1 class="section-title">Editar Usuario</h1>
        <form action="/updateUser/{{ usuario[0] }}" method="POST">

            <!-- Text input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="correo">Correo</label>
                <input type="email" id="correo" name="correo" class="form-control" value="{{ usuario[1] }}"/>
            </div>

            <!-- Text input
            <div class="form-outline mb-4">
                <label class="form-label" for="password">Contraseña</label>
                <input type="password" id="password" class="form-control" value=""/>
            </div> -->

            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="primerNombre">Primer Nombre</label>
                  <input type="text" id="primerNombre" name="primerNombre" class="form-control" value="{{ usuario[3]}}"/>
                  
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="segundoNombre">Segundo Nombre</label>
                  <input type="text" id="segundoNombre" name="segundoNombre" class="form-control" value="{{ usuario[4]}}"/>
                </div>
              </div>
            </div>
          
            <!-- Text input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="apellidos">Apellidos</label>
              <input type="text" id="apellidos" class="form-control" name="apellidos" value="{{ usuario[5]}}"/>
            </div>
          
            <!-- Num Document  -->
            <div class="form-outline mb-4">
              <label class="form-label" for="numDocumento">Numero Documento</label>
              <input type="text" id="numDocumento" class="form-control" name="numDocumento" value="{{ usuario[6]}}"/>
            </div>
          
            <!-- Number input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="telefono">Telefono</label>
              <input type="number" id="telefono" class="form-control" name="telefono" value="{{ usuario[7]}}"/>
              
            </div>

            <!-- Text input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="direccion">Direccion</label>
                <input type="text" id="direccion" class="form-control" name="direccion" value="{{ usuario[8]}}"/>
              </div>
          
            <!-- Message input
            <div class="form-outline mb-4">
              <textarea class="form-control" id="form6Example7" rows="4"></textarea>
              <label class="form-label" for="form6Example7">Additional information</label>
            </div> -->
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Modificar Usuario</button>
          </form>

    </div>
</div>


{% endblock %}
