{% extends 'base2.html' %}

{% block title %} Sistema de Gestion de Notas {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <section class="section-register">
            <div class="mask d-flex align-items-center gradient-custom-3">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="" style="border-radius: 15px;">
                    <div class="">
                        <h2 class="section-title text-uppercase text-center mb-5">Crear Materia</h2>
                        <section class="content">
                            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                            {% if errors %}
                            <div id="alert" class="alert alert-danger">
                            <!-- <a class="close" href="#">×</a> -->
                            <ul>
                            {%- for msg in errors %}
                            <li>{{ msg }}</li>
                            {% endfor -%}
                            </ul>
                            </div>
                            {% endif %}
                            {% endwith %}
                            {% with errors = get_flashed_messages(category_filter=["success"]) %}
                            {% if errors %}
                            
                            <div id="alert" role="alert" class="alert alert-success">
                            <!-- <a class="close" href="#">×</a> -->
                            {%- for msg in errors %}
                            {{ msg }}
                            {% endfor -%}
                            </div>
                            {% endif %}
                            {% endwith %}
                          </section>
                        <form action="" method="post">
                            {{ form.hidden_tag() }}
                            <div class="form-outline mb-4">
                                {{ form.nombre.label(class="form-label") }}
                                {{ form.nombre(class="form-control form-control-lg") }}
                                {% if form.nombre.errors %}
                                {% for error in form.nombre.errors %}
                                    <div id="alert" role="alert"  class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-outline mb-4">
                                {{ form.descripcion.label(class="form-label") }}
                                {{ form.descripcion(class="form-control form-control-lg") }}
                                {% if form.descripcion.errors %}
                                {% for error in form.descripcion.errors %}
                                    <div id="alert-two" role="alert"  class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            
                            <div class="d-flex justify-content-center mb-4">
                                {{ form.registrar(class="btn btn-primary text-uppercase btn-lg") }}
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    setTimeout(function () {
        // Cerrar la alerta
        $('#alert').alert('close');
    }, 5000);
</script>
<script type="text/javascript">
    setTimeout(function () {
        // Cerrar la alerta
        $('#alert-two').alert('close');
    }, 5000);
</script>

{% endblock %}
