{% extends 'base2.html' %}

{% block title %} Sistema de Gestion de Notas {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <section class="section-register">
            <div class="mask d-flex align-items-center gradient-custom-3">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="" style="border-radius: 15px;">
                    <div class="">
                        <h2 class="section-title text-uppercase text-center mb-5">Crear Usuario</h2>
                        <section class="content">
                            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                            {% if errors %}
                            <div id="alert" class="alert alert-danger">
                            <!-- <a class="close" href="#">×</a> -->
                            <ul>
                            {%- for msg in errors %}
                            <li>{{ msg }}</li>
                            {% endfor -%}
                            </ul>
                            </div>
                            {% endif %}
                            {% endwith %}
                            {% with errors = get_flashed_messages(category_filter=["success"]) %}
                            {% if errors %}
                            
                            <div id="alert" role="alert" class="alert alert-success">
                            <!-- <a class="close" href="#">×</a> -->
                            {%- for msg in errors %}
                            {{ msg }}
                            {% endfor -%}
                            </div>
                            {% endif %}
                            {% endwith %}
                          </section>
                        <form action="{{ url_for('registroUser') }}" method="post">
                            <div class="form-outline mb-4">
                                {{ form.correo.label(class="form-label") }}
                                {{ form.correo(class="form-control form-control-lg") }}
                                <!-- <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example4cdg">Repeat your password</label> -->
                            </div>
                            <div class="form-outline mb-4">
                                {{ form.contrasenia.label(class="form-label") }}
                                {{ form.contrasenia(class="form-control form-control-lg") }}
                                
                                <!-- <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example3cg">Your Email</label> -->
                            </div>
                            <div class="form-outline mb-4">
                                {{ form.primerNombre.label(class="form-label") }}
                                {{ form.primerNombre(class="form-control form-control-lg") }}
                                <!-- <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example4cg">Password</label> -->
                            </div>
            
                            <div class="form-outline mb-4">
                                {{ form.segundoNombre.label(class="form-label") }}
                                {{ form.segundoNombre(class="form-control form-control-lg") }}
                                <!-- <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example4cdg">Repeat your password</label> -->
                            </div>

                            <div class="form-outline mb-4">
                                {{ form.Apellidos.label(class="form-label") }}
                                {{ form.Apellidos(class="form-control form-control-lg") }}
                                <!-- <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example4cdg">Repeat your password</label> -->
                            </div>
                            <div class="form-outline mb-4">
                                {{ form.numDocumento.label(class="form-label") }}
                                {{ form.numDocumento(class="form-control form-control-lg") }}
                                <!-- <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example4cdg">Repeat your password</label> -->
                            </div>
                            <div class="form-outline mb-4">
                                {{ form.telefono.label(class="form-label") }}
                                {{ form.telefono(class="form-control form-control-lg") }}
                                <!-- <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example4cdg">Repeat your password</label> -->
                            </div>
                            <div class="form-outline mb-4">
                                {{ form.direccion.label(class="form-label") }}
                                {{ form.direccion(class="form-control form-control-lg") }}
                                <!-- <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example4cdg">Repeat your password</label> -->
                            </div>

                            <div class="form-outline mb-4">
                            Tipo Usuario<select name="tipoUser" class="form-select">
                                {% for item in tipoUser %}
                                    <option value={{item[0]}}>{{item[1]}}</option>
                                {% endfor %}
                                    </select>
                            </div>
                            
                            <div class="d-flex justify-content-center mb-4">
                                {{ form.registrar(class="btn btn-primary text-uppercase btn-lg") }}
                                <!-- <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button> -->
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    setTimeout(function () {
        // Cerrar la alerta
        $('#alert').alert('close');
    }, 5000);
</script>

{% endblock %}

